<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>
  <section class="content">
    <div class="col-sm-12 col-xs-12">
      <!-- <h2>{{tituloApp}}</h2> -->

      <div class="col-sm-12 col-xs-12">
        <form [formGroup]="cpFormGroup" novalidate  >
         <input formControlName="_id" type="hidden" />
         <input formControlName="status" type="hidden" /> 
          <div class="col-sm-6 col-xs-12">
            <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Titulo">
              <input class="form-control" formControlName="titulo" placeholder="Titulo" autocomplete="off">
            </mt-input-container>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
                  <mt-input-container errorMessage="Campo obrigatório" label="De">                                           
                    <datetime placeholder="De"
                     date-format="DD-MM-YYYY hh:mm" 
                     formControlName="dataInicio" 
                     [timepicker]="{ icon: 'fa fa-clock-o' , placeholder: 'Hora Inicio' }" 
                     [datepicker]="{ icon: 'fa fa-calendar', placeholder: 'Data Inicio' }"
                     ></datetime>                 
                  </mt-input-container>
            </div>            
            <div class="form-group">
                  <mt-input-container errorMessage="Campo obrigatório" label="ate">                                           
                    <datetime 
                     date-format="DD-MM-YYYY hh:mm" 
                     formControlName="dataFim"                     
                     [timepicker]="{ icon: 'fa fa-clock-o' , placeholder: 'Hora Fim' }" 
                     [datepicker]="{ icon: 'fa fa-calendar', placeholder: 'Data Fim' }"
                     ></datetime>                 
                  </mt-input-container>
            </div>            
          </div>
          <div class="col-sm-12 col-xs-12">
          <button class="btn btn-primary" (click)="salvar(cpFormGroup.value)" *ngIf="buttonSave == true">Salvar</button>
          <button class="btn btn-primary" (ngSubmit)="editar(cpFormGroup.value)" *ngIf="buttonSave == false">Editar</button>
          </div>
        </form>
    </div>

    <div class="col-sm-12 col-xs-12" *ngIf="compromissos">
      <h3>Lista de Compromissos</h3>
      <div class="row col-md-12 margin-top">
        <input #filtrarCompromisso id="filtrar-Compromisso" (keyup)="filtrar(filtrarCompromisso.value)" placeholder="filtrar pelo título"
        />
      </div>
      <table class="table table-striped table-hover">
        <tr>
          <th>Titulo</th>
          <th>Inicio</th>
          <th>Fim</th>
          <th>Ação</th>
        </tr>
        <tr *ngFor="let c of compromissos  | paginate: { itemsPerPage: tamanhoPagina, currentPage: paginaAtual, totalItems: totalItens }">
          <td>
            <span>{{c.titulo}}</span>
          </td>
          <td>
            {{c.dataInicio | date: 'dd/MM/yyyy hh:mm'}}
          </td>            
          <td>
            {{c.dataFim | date: 'dd/MM/yyyy hh:mm'}}
          </td>
          <td>
            <i (click)="Excluir(c,template)" class="glyphicon glyphicon-trash" title="Excluir"></i>
            <i (click)="Editar(c,template)" class="glyphicon glyphicon-edit" title="Editar"></i>
          </td>
        </tr>
     </table>
      <div class="row col-md-12 margin-top">
        <pagination-controls (pageChange)="paginar($event, filtrarCompromisso.value)"></pagination-controls>
      </div>
   </div> 
 </div>
</section>
  <!-- FIM DO CONTEÚDO -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirmExcluir()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>